
{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header text-center">Вход</div>
        <div class="card-body">
          <form method="post">
            <div class="mb-3">
              <label class="form-label">Логин</label>
              <input class="form-control" type="text" name="username" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Пароль</label>
              <input class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-primary w-100" type="submit">Войти</button>
          </form>
          <hr>
          <div class="text-center">Нет аккаунта? <a href="{{ url_for('register') }}">Регистрация</a></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
